<div class='center' style='margin-top: 20px;'>
<form method='post' action='processa_matriz.php'>
<input type='hidden' name='_glpi_csrf_token' value='{{ csrf_token }}'>

<table class='tab_cadre_fixe'>
<tr><th colspan='2'>{{ __('Permissions Matrix Generator', 'permissionsmatrix') }}</th></tr>

<tr class='tab_bg_1'>
<td width='30%'><strong>{{ __('1. Profiles Entity:', 'permissionsmatrix') }}</strong></td>
<td>
    {{ dropdown_profiles | raw }}
</td>
</tr>

<tr class='tab_bg_1'>
<td><strong>{{ __('2. Groups Entity:', 'permissionsmatrix') }}</strong></td>
<td>
    {{ dropdown_groups | raw }}
</td>
</tr>

<tr class='tab_bg_2'>
<td colspan='2' class='center'>
<button type='submit' name='gerar_matriz' class='vsubmit'>{{ __('Generate Permissions Matrix', 'permissionsmatrix') }}</button>
</td>
</tr>
</table>
</form>
</div>

<script type='text/javascript'>
$(document).ready(function() {
    var $selectPerfil = $('select[name="entities_id_profiles"]');
    var $selectGrupo = $('select[name="entities_id_groups"]');

    $selectPerfil.on('change', function() {
        var valorSelecionado = $(this).val();
        var dadosSelect2 = $(this).select2('data');
        var textoSelecionado = (dadosSelect2 && dadosSelect2.length > 0) ? dadosSelect2[0].text : '';
        
        if (valorSelecionado && textoSelecionado != '') {
            if ($selectGrupo.find("option[value='" + valorSelecionado + "']").length === 0) {
                var novaOpcao = new Option(textoSelecionado, valorSelecionado, true, true);
                $selectGrupo.append(novaOpcao);
            }
            
            $selectGrupo.val(valorSelecionado).trigger('change');
        }
    });
});
</script>
